<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sale</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>
<body>
	<header class="site-header">
	        <!-- NAV SINISTRA -->
	        <div class="nav-left">
	            <nav class="main-nav">
	                <ul>
	                    <li><a th:href="@{/home}">Home</a></li>
	                    <li><a th:href="@{/artists}">Artisti in Esposizione</a></li>
	                    <li><a th:href="@{/rooms}">Visualizza Sale</a></li>
	                    <li sec:authorize="hasRole('ADMIN')">
	                        <a th:href="@{/admin/manageArtworks}">Gestisci Museo</a>
	                    </li>
	                </ul>
	            </nav>
	        </div>

	        <!-- NAV DESTRA -->
	        <div class="nav-right">
	            <a th:href="@{/login}">Logout</a>
	        </div>
	    </header>
		
		<main class="content-wrapper">

    <h1 class="page-title">Lista delle Sale</h1>
    
	<div th:if="${rooms}" class="rooms-container">
	       <ul>
	           <li th:each="room : ${rooms}" class="room-list-item">
	               <a th:href="@{'/rooms/' + ${room.id}}" th:text="${room.name}"></a>
	               (Artista: <span th:text="${room.artist.name}"></span>)
	           </li>
	       </ul>
	   </div>
    
    <p th:unless="${rooms}">Nessuna sala presente.</p>
    
</body>
</html>